[submodule "chatmail-core"]
	path = chatmail-core
	url = git@github.com:chatmail/core.git
[submodule "admin-web"]
	path = admin-web
	url = git@github.com:themadorg/madmail-admin-web.git
[submodule "madexchanger"]
	path = madexchanger
	url = git@github.com:themadorg/madexchanger.git
